.editor-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 32px;
}

#viewer-wrapper {
    padding: 0;
}

.change-log {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    border: 1px solid #D6D7DA;
    padding: 8px;
}

.log {
    width: 100%;
    resize: vertical;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 2px;
    background: #FFFFFF;
    padding: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.25px;
}

.text-editor-group {
    display: flex;
    justify-content: space-between;
}