<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aurigma.DesignAtoms" version="5.10.0" targetFramework="net462" />
  <package id="Aurigma.GraphicsMill.Core.x64" version="10.1.22" targetFramework="net462" />
  <package id="Aurigma.GraphicsMill.Templates.x64" version="10.1.22" targetFramework="net462" />
  <package id="Autofac" version="4.0.1" targetFramework="net462" />
  <package id="Autofac.WebApi2" version="4.1.0" targetFramework="net462" />
  <package id="AutoMapper" version="5.2.0" targetFramework="net462" />
  <package id="DotNetZip" version="1.13.3" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Cors" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="NLog" version="4.5.11" targetFramework="net462" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net462" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net462" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net462" />
</packages>